.list-transition-enter {
  opacity: 0.01;
}

.list-transition-enter.list-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.list-transition-leave {
  opacity: 1;
}

.list-transition-leave.list-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
